<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蒙城县人民政府 </title>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="stylesheet" href="../media/css/bootstrap.min.css">
	<link rel="stylesheet" href="../media/css/public.css">
	<script src="../media/js/jquery.js"></script>
	<script src="../media/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../media/css/wsdc.css">
	<!--[if lt IE 9]>
	<script src="../media/js/html5shiv.js"></script>
	<script src="../media/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- 头部 end -->
    <div class="is-header">
		<div class="m-top">
			<div class="logo"><img src="../media/images/public/logo.png" alt="" class="img-responsive"></div>
			<div class="wt">
				<span><script src="../media/js/time.js"></script></span>
				<span><iframe allowtransparency="true" frameborder="0" width="180" height="36" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=3&z=2&t=0&v=0&d=3&bd=0&k=&f=&ltf=009944&htf=cc0000&q=1&e=1&a=0&c=60596&w=180&h=36&align=center"></iframe></span>
			</div>
			<div class="u-link">
				<ul class="xian">
					<li><a href="" target="_blank">县政协</a></li>
					<li><a href="" target="_blank">县政府</a>|</li>
					<li><a href="" target="_blank">县人大</a>|</li>
					<li><a href="" target="_blank">县委</a>|</li>
				</ul>
				<ul class="fx">
					<li class="fx1"><a href="">注册</a></li>
					<li class="fx2"><a href="">登录</a></li>
					<li class="fx3"><a href="">RSS订阅</a></li>
					<li class="fx4"><a href="">无障碍</a></li>
					<li class="fx5"><a href="">简繁体</a></li>
				</ul>
			</div>
		</div>
		<div class="m-search">
			<form method="GET" action="/index.php?c=search">
				<input type="text" name="keywords" placeholder="-请输入检索关键字-" value="" class="u-searchtext fl" x-webkit-speech="" autocomplete="off">
				<input name="" type="submit" value="" class="u-searchbtn fl">
				<input name="c" type="hidden" value="search">
				<a class="fl u-goodser" href="" title="" target="_blank">高级搜索</a>
			</form>
		</div>
		<div class="m-nav navbar navbar-default" role="navigation">
			<div class="container-fluid"> 
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="../media/images/public/home.png" /></a>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="current"><a href=""><i class="u-icv1"></i> 网站首页</a></li>
						<li><a href=""><i class="u-icv2"></i> 魅力蒙城</a></li>
						<li><a href=""><i class="u-icv3"></i> 新闻中心</a></li>
						<li><a href=""><i class="u-icv4"></i> 政务公开</a></li>
						<li><a href=""><i class="u-icv5"></i> 解读回应</a></li>
						<li><a href=""><i class="u-icv6"></i> 办事服务</a></li>
						<li><a href=""><i class="u-icv7"></i> 互动交流</a></li>
						<li><a href=""><i class="u-icv8"></i> 数据开放</a></li>
					</ul> 
				</div>
			</div>
		</div>
	 </div>
    <!-- 头部 end -->
    <!-- 主体 on -->
	<div class="is-main container f-mb20">
		<section class="m-wsdcbox">
			<div class="m-location f-mb20">
				<a href="">网站首页</a> &gt;
				<span>互动交流</span> &gt;
				<span>网上调查</span>
			</div>
			<div class="g-yjzj f-clearfix">
				<h1 class="text-center m-yjzjtit">第十届“感动蒙城道德模范”评选</h1>
                <div class="m-yjzjfuns f-clearfix">
                    <div class="m-dcfuns text-center fl">
                        <p>调查开始日期：2018-05-07 00:00:00</p>
                        <p>调调查结束日期：2018-06-07 00:00:00</p>
                        <p>状态： <span>已截至</span></p>
                    </div>
                    <div class="u-shear fr">
                        <div class="bdsharebuttonbox">
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        </div>
                        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                    </div>
                </div>
                <div class="m-dczjtext">
                    <!-- 富文本 -->
                    <p>为充分发挥先进典型在培育和践行社会主义核心价值观中的作用，积极倡导明礼诚信、团结友善、勤俭自强、敬业奉献的社会风尚，我县正在开展第十届“感动蒙城道德模范”评选活动。活动设立“助人为乐、见义勇为、诚实守信、敬业奉献、孝老爱亲”五个类别奖项。经各乡镇（街道）各部门推荐和蒙城县道德模范评选活动组委会评审，确定了72组候选人。为体现公开、公正、公平的原则，现将候选人简要事迹在《亳州晚报·蒙城周刊》、蒙城政府网、蒙城文明网予以公示，听取群众意见和接受群众投票。根据投票结果，由县活动组委会最终评审，最终确定“感动蒙城道德模范”获奖人选。</p>
                    <!-- 富文本 -->
                </div>
                <div class="m-dczjform">
                    <form action="" class="form-horizontal" role="form">
                        <div class="g-zjbox">
                            <h1>1.助人为乐</h1>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1" id="" value="option1" checked>蔡小飞
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1" id="" value="option2">陈怀庆
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1" id="" value="option3">丁士荣
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1" id="" value="option4">黄玉发
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1" id="" value="option5">李灯虎
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1" id="" value="option6">李建华
                                </label>
                            </div>
                        </div>
                        <div class="g-zjbox">
                            <h1>2.见义勇为</h1>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios2" id="" value="option1" checked>魏尽永
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios2" id="" value="option2">崔振友
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios2" id="" value="option3">冯新建
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios2" id="" value="option4">付兰侠
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios2" id="" value="option5">郭庆美
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios2" id="" value="option6">李 飞
                                </label>
                            </div>
                        </div>
                        <div class="g-zjbox">
                            <h1>3.见义勇为</h1>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsRadios3" id="" value="option1" checked>魏尽永
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsRadios3" id="" value="option2">崔振友
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsRadios3" id="" value="option3">冯新建
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsRadios3" id="" value="option4">付兰侠
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsRadios3" id="" value="option5">郭庆美
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsRadios3" id="" value="option6">李 飞
                                </label>
                            </div>
                        </div>
                        <div class="m-dccode">
                            <div class="form-group">
                                <label for="code" class="col-sm-2 col-md-1 control-label"><span>*</span> 验证码</label>
                                <div class="col-sm-10 col-md-11">
                                  <input type="text" class="form-control fl" id="code" placeholder="请输入验证码">
                                  <img src="../media/images/public/pic-code.png" alt="" class="u-codeimg fl">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default">投票</button>
                        </div>
                    </form>
                </div>
                <div class="text-center m-dcjsbd">
                    <span>无法投票  （投票已经结束）</span>
                    <a class="btn btn-danger" href="" target="_blank">查看结果</a>
                </div>
			</div>
		</section>
	</div>
	<!-- 主体 end -->
    <!-- 底部 on -->
    <div class="is-footer">
        
    </div>
    <!-- 底部 end -->
    <script src="../media/js/base.js"></script>
    <script>
    	$(function(){
            $('.ckti-switch li').click(function(){
                $(this).addClass('u-active').siblings().removeClass('u-active');
                $('.g-yjzjbox').find($('.ckls-switch')).hide().eq($(this).index()).show();
            });
        });
    </script>
</body>
</html>