<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蒙城县人民政府</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="../media/css/bootstrap.min.css">
    <link rel="stylesheet" href="../media/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../media/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../media/css/public.css">
    <link rel="stylesheet" href="../media/css/mail.css">
    <!--[if lt IE 9]>
    <script src="../media/js/html5shiv.js"></script>
    <script src="../media/js/respond.min.js"></script>
    <![endif]-->
	<style>
	   .g-sitemap .row li{height:120px;margin-top:20px;}
	   .g-sitemap .row li a{border:1px solid #ddd;display:block;height:100%;position:relative;padding:15px 15px;}
	   .g-sitemap .row li a .lfmsg{height:90px;width:90px}
	   .g-sitemap .u-fb{margin-left:20px;}
	   .g-sitemap .u-fb p{line-height:30px;}
	   .g-sitemap .u-fb p.p1{font-size:18px;font-weight:bold;color:#333;}
	   .g-sitemap .u-fb p.p2{font-size:14px;color:#999;}
	   .g-sitemap .code-icon{display:block;width:40px;height:40px;position:absolute;right:0;top:0;background:url(../media/images/public/codeicon.png) no-repeat right top;}
	   .g-sitemap .u-code{position:absolute;right:42px;top:0;height:100%;display:none;}
	   .g-sitemap .u-code:hover,.g-sitemap .code-icon:hover+.u-code{display:block;}
	</style>
</head>
<body>
<!-- 头部 end -->
    <div class="is-header">
		<div class="m-top">
			<div class="logo"><img src="../media/images/public/logo.png" alt="" class="img-responsive"></div>
			<div class="wt">
				<span><script src="../media/js/time.js"></script></span>
				<!-- <span><iframe allowtransparency="true" frameborder="0" width="180" height="36" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=3&z=2&t=0&v=0&d=3&bd=0&k=&f=&ltf=009944&htf=cc0000&q=1&e=1&a=0&c=60596&w=180&h=36&align=center"></iframe></span> -->
			</div>
			<div class="u-link">
				<ul class="xian">
					<li><a href="" target="_blank">县政协</a></li>
					<li><a href="" target="_blank">县政府</a>|</li>
					<li><a href="" target="_blank">县人大</a>|</li>
					<li><a href="" target="_blank">县委</a>|</li>
				</ul>
				<ul class="fx">
					<li class="fx1"><a href="">注册</a></li>
					<li class="fx2"><a href="">登录</a></li>
					<li class="fx3"><a href="">RSS订阅</a></li>
					<li class="fx4"><a href="">无障碍浏览</a></li>
					<li class="fx5"><a href="">简繁体</a></li>
				</ul>
			</div>
		</div>
		<div class="m-search">
			<form method="GET" action="/index.php?c=search">
				<input type="text" name="keywords" placeholder="-请输入检索关键字-" value="" class="u-searchtext fl" x-webkit-speech="" autocomplete="off">
				<input name="" type="submit" value="" class="u-searchbtn fl">
				<input name="c" type="hidden" value="search">
				<a class="fl u-goodser" href="" title="" target="_blank">高级搜索</a>
			</form>
		</div>
		<div class="m-nav navbar navbar-default" role="navigation">
			<div class="container-fluid"> 
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">网站首页</a>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href=""><i class="u-icv1"></i> 网站首页</a></li>
						<li><a href=""><i class="u-icv2"></i> 魅力蒙城</a></li>
						<li><a href=""><i class="u-icv3"></i> 新闻中心</a></li>
						<li><a href=""><i class="u-icv4"></i> 政务公开</a></li>
						<li><a href=""><i class="u-icv5"></i> 解读回应</a></li>
						<li><a href=""><i class="u-icv6"></i> 办事服务</a></li>
						<li><a href=""><i class="u-icv7"></i> 互动交流</a></li>
						<li><a href=""><i class="u-icv8"></i> 数据开放</a></li>
					</ul> 
				</div>
			</div>
		</div>
	 </div>
    <!-- 头部 end -->
    <div class="is-main container f-mb20">
	    <section class="m-sitemapbox" style="padding:6px 0 20px">
			<div class="m-location">
				<a href="">网站首页</a> &gt;
				<span>网站地图</span>
			</div>
            <div class="g-sitemap">
				<ul class="row">
					<li class="col-xs-12 col-sm-6 col-md-4">
					    <a href="" title="" target="_blank">
						    <img src="../media/images/home/ft.jpg" class="lfmsg fl">
							<div class="u-fb fl">
							    <p class="p1">蒙城县人民政府发布</p>
						        <p class="p2">蒙城县人民政府发布</p>
							</div>
							<i class="code-icon"></i>
							<img src="../media/images/public/ucode.png" class="u-code">
						</a>
					</li>
					<li class="col-xs-12 col-sm-6 col-md-4">
					    <a href="" title="" target="_blank">
						    <img src="../media/images/home/ft.jpg" class="lfmsg fl">
							<div class="u-fb fl">
							    <p class="p1">蒙城县人民政府发布</p>
						        <p class="p2">蒙城县人民政府发布</p>
							</div>
							<i class="code-icon"></i>
							<img src="../media/images/public/ucode.png" class="u-code">
						</a>
					</li>
					<li class="col-xs-12 col-sm-6 col-md-4">
					    <a href="" title="" target="_blank">
						    <img src="../media/images/home/ft.jpg" class="lfmsg fl">
							<div class="u-fb fl">
							    <p class="p1">蒙城县人民政府发布</p>
						        <p class="p2">蒙城县人民政府发布</p>
							</div>
							<i class="code-icon"></i>
							<img src="../media/images/public/ucode.png" class="u-code">
						</a>
					</li>
					<li class="col-xs-12 col-sm-6 col-md-4">
					    <a href="" title="" target="_blank">
						    <img src="../media/images/home/ft.jpg" class="lfmsg fl">
							<div class="u-fb fl">
							    <p class="p1">蒙城县人民政府发布</p>
						        <p class="p2">蒙城县人民政府发布</p>
							</div>
							<i class="code-icon"></i>
							<img src="../media/images/public/ucode.png" class="u-code">
						</a>
					</li>
					<li class="col-xs-12 col-sm-6 col-md-4">
					    <a href="" title="" target="_blank">
						    <img src="../media/images/home/ft.jpg" class="lfmsg fl">
							<div class="u-fb fl">
							    <p class="p1">蒙城县人民政府发布</p>
						        <p class="p2">蒙城县人民政府发布</p>
							</div>
							<i class="code-icon"></i>
							<img src="../media/images/public/ucode.png" class="u-code">
						</a>
					</li>
					<li class="col-xs-12 col-sm-6 col-md-4">
					    <a href="" title="" target="_blank">
						    <img src="../media/images/home/ft.jpg" class="lfmsg fl">
							<div class="u-fb fl">
							    <p class="p1">蒙城县人民政府发布</p>
						        <p class="p2">蒙城县人民政府发布</p>
							</div>
							<i class="code-icon"></i>
							<img src="../media/images/public/ucode.png" class="u-code">
						</a>
					</li>
					<li class="col-xs-12 col-sm-6 col-md-4">
					    <a href="" title="" target="_blank">
						    <img src="../media/images/home/ft.jpg" class="lfmsg fl">
							<div class="u-fb fl">
							    <p class="p1">蒙城县人民政府发布</p>
						        <p class="p2">蒙城县人民政府发布</p>
							</div>
							<i class="code-icon"></i>
							<img src="../media/images/public/ucode.png" class="u-code">
						</a>
					</li>
				</ul>
			</div>			
        </section>			
	</div>
	<!-- 底部 on -->
    <div class="is-footer">
        
    </div>
    <!-- 底部 end -->
	<script src="../media/js/jquery.js"></script>
    <script src="../media/js/bootstrap.min.js"></script>
    <script src="../media/js/base.js"></script>
</body>