<!doctype html> 
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit"> 
    <meta name="SiteName" content="蒙城县政府千人千网个性化页面" />
    <meta name="SiteDomain" content="" />
    <meta name="SiteIDCode" content="" />
    <meta name="keywords" content="蒙城县政府千人千网个性化页面" />
    <meta name="description" content="蒙城县政府千人千网个性化页面" />
    <title>我的资讯-蒙城县政府千人千网个性化页面</title>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="stylesheet" href="../media/font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../media/css/public.css">
    <link rel="stylesheet" type="text/css" href="../media/css/page.css">
</head>
<body onload="startTime()">
<div class="is-header">
    <div class="top">
        <a href="/" class="left"><img src="../media/images/logo.png" alt=""></a>
        <div class="n-nav fr">
            <div class="nav">
                <ul>
                    <li><a href="/userCenter/memberInfo/" class="t1"><i class="iconfont">&#xe734;</i>个人信息</a></li>
                    <li><a href="https://sso.ahzwfw.gov.cn/uccp-user/resources/account-security/password-change.html" class="t2"><i class="iconfont">&#xe672;</i>修改密码</a></li>
                    <li><a href="/index.php?c=member&m=logout" class="t3"><i class="iconfont">&#xe616;</i>退出登录</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="is-main">
    <!-- 左侧 -->
    <div class="list-left fl">
        <div class="listleft-top">
             <img src="../media/images/yx.png" alt="">
            <h2>欢迎您！usnybi3w</h2>
            <p>登录次数：3次</p>
            <p>登录IP：106.119.182.204</p>
            <p>访问天数：0天</p>
			<p>登录时长：<span id="demo" style="display: none;"></span><span id="txt"></span></p>
        </div>
        <div class="listleft-box">
            <ul>
                <li class="nav_grzy"><a href="/userCenter/" title="我的主页" class="11"><i class="iconfont">&#xe642;</i>我的主页</a></li>
                <li class="nav_myNews"><a href="/userCenter/myNews/" title="我的资讯"  class="22"><i class="iconfont">&#xe8a3;</i>我的资讯</a></li>
                <li><a class="l3"> 
                    <button  class="xq" type="button"><i class="iconfont">&#xe674;</i>办事服务平台</button><span class="iconfont">&#xe735;</span></a></li>
                    <ul class="bspt" style="display:none;">
						<li class="nav_bsfw"><a href="https://la.ahzwfw.gov.cn/bsdt/userCenter/basicFacts.do" target="_blank"><i class="iconfont">&#xe624;</i>首页</a></li>
						<li class="nav_myEvents"><a href="https://la.ahzwfw.gov.cn/bsdt/userCenter/myEvents.do" target="_blank"><i class="iconfont">&#xe624;</i>我的办件</a></li>
						<li class="nav_myAppointment"><a href="https://la.ahzwfw.gov.cn/bsdt/userCenter/myAppointment.do" target="_blank"><i class="iconfont">&#xe624;</i>我的预约</a></li>
						<li><a href="https://la.ahzwfw.gov.cn/unitypaywb-web/pages/my-pay/index.do" target="_blank"><i class="iconfont">&#xe624;</i>我的缴费</a></li>
						<li class="nav_myEvaluate"><a href="https://la.ahzwfw.gov.cn/bsdt/userCenter/myEvaluate.do" target="_blank"><i class="iconfont">&#xe624;</i>我的评价</a></li>
						<li class="nav_myConsult"><a href="https://la.ahzwfw.gov.cn/bsdt/userCenter/myConsult.do" target="_blank"><i class="iconfont">&#xe624;</i>我的诉求</a></li>
						<li class="nav_myLogistics"><a href="https://la.ahzwfw.gov.cn/bsdt/userCenter/myLogistics.do" target="_blank"><i class="iconfont">&#xe624;</i>我的物流</a></li>
						<li class="nav_mysc"><a href="https://la.ahzwfw.gov.cn/bsdt/userCenter/myCollection.do" target="_blank"><i class="iconfont">&#xe624;</i>我的收藏</a></li>
						<li class="nav_mywj"><a href="https://la.ahzwfw.gov.cn/bsdt/userCenter/myFiles.do" target="_blank"><i class="iconfont">&#xe624;</i>我的文件</a></li>
						<!-- <li class="nav_mybjcx"><a href="">办件查询</a></li> -->
                    </ul>   
                <li class="nav_mySupervision"><a href="/userCenter/mySupervision/" title="我的信件" class="l4"><i class="iconfont">&#xe780;</i>我的信件</a></li>
                <!-- <li class="nav_myForum"><a href="/userCenter/myForum/" title="我的网贴" class="l5"><i class="iconfont">&#xe635;</i>我的网贴</a></li>
				<li class="nav_myForumThread"><a href="/userCenter/myForumThread/" title="我的跟帖" class="l5"><i class="iconfont">&#xe635;</i>我的跟帖</a></li> -->
                <li class="nav_myCollect"><a href="/userCenter/myCollect/" title="我的收藏" class="l6"><i class="iconfont">&#xe772;</i>我的收藏</a></li>
                <li><a href="http://la.ahzwfw.gov.cn/bsdt/workService/detail.do?ssqdCode=10380c7ebdd240deb048da759b317b85" title="公积金查询" class="l7"><i class="iconfont">&#xe631;</i>公积金查询</a></li>
                <li><a href="https://sso.ahzwfw.gov.cn/uccp-server/login?appCode=5726e0d8f15047a09237ff5c98a9414f&service=http%3A%2F%2F218.23.88.205%3A6005%2Fuaa%2Fapi%2Fsso%2Fperson%2Flogin%3Fclient_id%3Dacme%26redirect_uri%3Dhttp%253A%252F%252F218.23.88.205%253A6005%252Fehrss%252Fsi%252Fperson%252Fui%252F%26response_type%3Dcode" title="社保查询" class="l8"><i class="iconfont">&#xe677;</i>社保查询</a></li>
            </ul>
        </div>
    </div>
	<script type="text/javascript" src="../media/js/jquery.min.js"></script>
	<script type="text/javascript">
        $(function(){
            $(".nav_myNews").addClass('hover');
			
        });
		
		var j="91";
		window.setInterval(function() {
		j++;
		document.getElementById('demo').innerHTML=j;}, 1000);
	  function startTime() {
	  	var result = document.getElementById("demo").innerHTML;
		    var h = Math.floor(result / 3600);
		    var m = Math.floor((result / 60 % 60));
		    var s = Math.floor((result % 60));
		    h = checkTime(h);
		    m = checkTime(m);
		    s = checkTime(s);
		    document.getElementById("txt").innerHTML = h + ":" + m + ":" + s;
		    var t = setTimeout(function(){ startTime() }, 500);
		}
		function checkTime(i) {
		    if (i < 10) {
		        i = "0" + i;
		    }
		    return i;
		}
		
    </script>
    <div class="wdzx fr">
        <div class="wdzx-txt">
        	<h6>我的资讯</h6>
        </div>
        <!-- 热点资讯 -->
        <div class="wdzx-box1 fl">
            <div class="wdzx-box1-tit">
                <h6>热点资讯</h6>
            </div>
            <div class="slideTxtBox wdzx-box1-bt no-nr" id="contentLista">
                <div class="hd" >
                    <ul>
                        <li><a href="javascript:;">资讯中心</a></li>
                        <li><a href="javascript:;">信息公开</a></li>
                        <li><a href="javascript:;">解读回应</a></li>
                    </ul>
                </div>
                <div class="bd">
                    <ul>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d1d69136eb33e2c02000032.html" target="_blank" title="标题：2019年裕安区财政局面向区外公开选调乡镇财政所工作人员公告<br/>发布时间：07-04<br/>点击量：124">2019年裕安区财政局面向区外公开选调乡镇财政所工作...</a><span>07-04</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d1c02c56eb33e54e5000030.html" target="_blank" title="标题：叶露中主持召开市政府党组会、党组理论学习中心组学习会<br/>发布时间：07-03<br/>点击量：710">叶露中主持召开市政府党组会、党组理论学习中心组学习会</a><span>07-03</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d1c75c66eb33ed068000030.html" target="_blank" title="标题：王岚调研市城乡居民医保待遇新政策实施情况<br/>发布时间：07-03<br/>点击量：386">王岚调研市城乡居民医保待遇新政策实施情况</a><span>07-03</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d195d8e6eb33e9077000029.html" target="_blank" title="标题：叶露中到裕安暗访调研脱贫攻坚工作<br/>发布时间：07-01<br/>点击量：1418">叶露中到裕安暗访调研脱贫攻坚工作</a><span>07-01</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d15856d6eb33e8cd500002c.html" target="_blank" title="标题：叶露中在全市大气污染防治“六个专项行动”专题推进会上强调
巩固成果 严防反弹
坚决打赢大气污染防治攻坚战<br/>发布时间：06-29<br/>点击量：1279">叶露中在全市大气污染防治“六个专项行动”专题推进会上...</a><span>06-29</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d157dd26eb33eecb000002e.html" target="_blank" title="标题：叶露中专题调研工程建设项目审批制度改革工作<br/>发布时间：06-28<br/>点击量：738">叶露中专题调研工程建设项目审批制度改革工作</a><span>06-28</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d1467656eb33ec8d800002b.html" target="_blank" title="标题：叶露中就贯彻落实全国深化“放管服”改革优化营商环境电视电话会议精神强调
明确目标任务 压实工作责任 推动我市创优“四最”营商环境工作走在全省前列<br/>发布时间：06-27<br/>点击量：432">叶露中就贯彻落实全国深化“放管服”改革优化营商环境电...</a><span>06-27</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d14694f6eb33ee88b000030.html" target="_blank" title="标题：关于对蒙城县2019年第2季度钢铁（冶炼、轧钢）、铸造企业名单的公示<br/>发布时间：06-27<br/>点击量：248">关于对蒙城县2019年第2季度钢铁（冶炼、轧钢）、铸...</a><span>06-27</span></li>
                    </ul>
                    <ul style="display: none;">
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc8fb6eb33eb818000029.html" target="_blank" title="标题：县机关事务管理服务中心到城关镇五里村开展慰问活动<br/>发布时间：2019-07-04 17:34<br/>点击量：9">县机关事务管理服务中心到城关镇五里村开展慰问活动</a><span>2019-07-04 17:34</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc5c96eb33e2c9e00002a.html" target="_blank" title="标题：叶集区审计局：帮扶干部解困难，赡养纠纷得化解<br/>发布时间：2019-07-04 17:22<br/>点击量：10">叶集区审计局：帮扶干部解困难，赡养纠纷得化解</a><span>2019-07-04 17:22</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc4156eb33e1c29000029.html" target="_blank" title="标题：国家税务总局关于修订《纳税服务投诉管理办法》的公告<br/>发布时间：2019-07-04 17:15<br/>点击量：10">国家税务总局关于修订《纳税服务投诉管理办法》的公告</a><span>2019-07-04 17:15</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc34c6eb33e1441000031.html" target="_blank" title="标题：县民生办督查农业农村局民生工作<br/>发布时间：2019-07-04 17:12<br/>点击量：25">县民生办督查农业农村局民生工作</a><span>2019-07-04 17:12</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc35b6eb33eb87d00002a.html" target="_blank" title="标题：财政部 税务总局关于继续执行的车辆购置税优惠政策的公告<br/>发布时间：2019-07-04 17:10<br/>点击量：7">财政部 税务总局关于继续执行的车辆购置税优惠政策的公...</a><span>2019-07-04 17:10</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2956eb33ee4f900002f.html" target="_blank" title="标题：县农机服务中心开展“四最”营商环境大讨论集中学习研讨
<br/>发布时间：2019-07-04 17:09<br/>点击量：24">县农机服务中心开展“四最”营商环境大讨论集中学习研讨...</a><span>2019-07-04 17:09</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2e26eb33ef034000029.html" target="_blank" title="标题：我县规范开展动物疫病集中监测采样工作<br/>发布时间：2019-07-04 17:05<br/>点击量：23">我县规范开展动物疫病集中监测采样工作</a><span>2019-07-04 17:05</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2236eb33e00b9000029.html" target="_blank" title="标题：县农机服务中心开展“迎七一，创优‘四最’营商环境”主题党日活动<br/>发布时间：2019-07-04 17:05<br/>点击量：25">县农机服务中心开展“迎七一，创优‘四最’营商环境”主...</a><span>2019-07-04 17:05</span></li>
					</ul>
                    <ul style="display: none;">
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc8fb6eb33eb818000029.html" target="_blank" title="标题：县机关事务管理服务中心到城关镇五里村开展慰问活动<br/>发布时间：2019-07-04 17:34<br/>点击量：9">县机关事务管理服务中心到城关镇五里村开展慰问活动</a><span>2019-07-04 17:34</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc5c96eb33e2c9e00002a.html" target="_blank" title="标题：叶集区审计局：帮扶干部解困难，赡养纠纷得化解<br/>发布时间：2019-07-04 17:22<br/>点击量：10">叶集区审计局：帮扶干部解困难，赡养纠纷得化解</a><span>2019-07-04 17:22</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc4156eb33e1c29000029.html" target="_blank" title="标题：国家税务总局关于修订《纳税服务投诉管理办法》的公告<br/>发布时间：2019-07-04 17:15<br/>点击量：10">国家税务总局关于修订《纳税服务投诉管理办法》的公告</a><span>2019-07-04 17:15</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc34c6eb33e1441000031.html" target="_blank" title="标题：县民生办督查农业农村局民生工作<br/>发布时间：2019-07-04 17:12<br/>点击量：25">县民生办督查农业农村局民生工作</a><span>2019-07-04 17:12</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc35b6eb33eb87d00002a.html" target="_blank" title="标题：财政部 税务总局关于继续执行的车辆购置税优惠政策的公告<br/>发布时间：2019-07-04 17:10<br/>点击量：7">财政部 税务总局关于继续执行的车辆购置税优惠政策的公...</a><span>2019-07-04 17:10</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2956eb33ee4f900002f.html" target="_blank" title="标题：县农机服务中心开展“四最”营商环境大讨论集中学习研讨
<br/>发布时间：2019-07-04 17:09<br/>点击量：24">县农机服务中心开展“四最”营商环境大讨论集中学习研讨...</a><span>2019-07-04 17:09</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2e26eb33ef034000029.html" target="_blank" title="标题：我县规范开展动物疫病集中监测采样工作<br/>发布时间：2019-07-04 17:05<br/>点击量：23">我县规范开展动物疫病集中监测采样工作</a><span>2019-07-04 17:05</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2236eb33e00b9000029.html" target="_blank" title="标题：县农机服务中心开展“迎七一，创优‘四最’营商环境”主题党日活动<br/>发布时间：2019-07-04 17:05<br/>点击量：25">县农机服务中心开展“迎七一，创优‘四最’营商环境”主...</a><span>2019-07-04 17:05</span></li>
					</ul>
                </div>
            </div>
        </div>
        <!-- 我的收藏 -->
        <div class="wdzx-box1 fl">
            <div class="wdzx-box1-tit">
                <h6>我的收藏</h6>
            </div>
            <div class="slideTxtBox wdzx-box1-bt no-nr2" id="contentLista2">
                <div class="hd">
                    <ul>
                        <li><a href="javascript:;">资讯中心</a></li>
                        <li><a href="javascript:;">信息公开</a></li>
                        <li><a href="javascript:;">解读回应</a></li>
                    </ul>
                </div>
                <div class="bd">
                    <ul>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d1d69136eb33e2c02000032.html" target="_blank" title="标题：2019年裕安区财政局面向区外公开选调乡镇财政所工作人员公告<br/>发布时间：07-04<br/>点击量：124">2019年裕安区财政局面向区外公开选调乡镇财政所工作...</a><span>07-04</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d1c02c56eb33e54e5000030.html" target="_blank" title="标题：叶露中主持召开市政府党组会、党组理论学习中心组学习会<br/>发布时间：07-03<br/>点击量：710">叶露中主持召开市政府党组会、党组理论学习中心组学习会</a><span>07-03</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d1c75c66eb33ed068000030.html" target="_blank" title="标题：王岚调研市城乡居民医保待遇新政策实施情况<br/>发布时间：07-03<br/>点击量：386">王岚调研市城乡居民医保待遇新政策实施情况</a><span>07-03</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d195d8e6eb33e9077000029.html" target="_blank" title="标题：叶露中到裕安暗访调研脱贫攻坚工作<br/>发布时间：07-01<br/>点击量：1418">叶露中到裕安暗访调研脱贫攻坚工作</a><span>07-01</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d15856d6eb33e8cd500002c.html" target="_blank" title="标题：叶露中在全市大气污染防治“六个专项行动”专题推进会上强调
巩固成果 严防反弹
坚决打赢大气污染防治攻坚战<br/>发布时间：06-29<br/>点击量：1279">叶露中在全市大气污染防治“六个专项行动”专题推进会上...</a><span>06-29</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d157dd26eb33eecb000002e.html" target="_blank" title="标题：叶露中专题调研工程建设项目审批制度改革工作<br/>发布时间：06-28<br/>点击量：738">叶露中专题调研工程建设项目审批制度改革工作</a><span>06-28</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d1467656eb33ec8d800002b.html" target="_blank" title="标题：叶露中就贯彻落实全国深化“放管服”改革优化营商环境电视电话会议精神强调
明确目标任务 压实工作责任 推动我市创优“四最”营商环境工作走在全省前列<br/>发布时间：06-27<br/>点击量：432">叶露中就贯彻落实全国深化“放管服”改革优化营商环境电...</a><span>06-27</span></li>
                        <li><a href="http://www.luan.gov.cn/content/detail/5d14694f6eb33ee88b000030.html" target="_blank" title="标题：关于对蒙城县2019年第2季度钢铁（冶炼、轧钢）、铸造企业名单的公示<br/>发布时间：06-27<br/>点击量：248">关于对蒙城县2019年第2季度钢铁（冶炼、轧钢）、铸...</a><span>06-27</span></li>
                    </ul>
                    <ul style="display: none;">
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc8fb6eb33eb818000029.html" target="_blank" title="标题：县机关事务管理服务中心到城关镇五里村开展慰问活动<br/>发布时间：2019-07-04 17:34<br/>点击量：9">县机关事务管理服务中心到城关镇五里村开展慰问活动</a><span>2019-07-04 17:34</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc5c96eb33e2c9e00002a.html" target="_blank" title="标题：叶集区审计局：帮扶干部解困难，赡养纠纷得化解<br/>发布时间：2019-07-04 17:22<br/>点击量：10">叶集区审计局：帮扶干部解困难，赡养纠纷得化解</a><span>2019-07-04 17:22</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc4156eb33e1c29000029.html" target="_blank" title="标题：国家税务总局关于修订《纳税服务投诉管理办法》的公告<br/>发布时间：2019-07-04 17:15<br/>点击量：10">国家税务总局关于修订《纳税服务投诉管理办法》的公告</a><span>2019-07-04 17:15</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc34c6eb33e1441000031.html" target="_blank" title="标题：县民生办督查农业农村局民生工作<br/>发布时间：2019-07-04 17:12<br/>点击量：25">县民生办督查农业农村局民生工作</a><span>2019-07-04 17:12</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc35b6eb33eb87d00002a.html" target="_blank" title="标题：财政部 税务总局关于继续执行的车辆购置税优惠政策的公告<br/>发布时间：2019-07-04 17:10<br/>点击量：7">财政部 税务总局关于继续执行的车辆购置税优惠政策的公...</a><span>2019-07-04 17:10</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2956eb33ee4f900002f.html" target="_blank" title="标题：县农机服务中心开展“四最”营商环境大讨论集中学习研讨
<br/>发布时间：2019-07-04 17:09<br/>点击量：24">县农机服务中心开展“四最”营商环境大讨论集中学习研讨...</a><span>2019-07-04 17:09</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2e26eb33ef034000029.html" target="_blank" title="标题：我县规范开展动物疫病集中监测采样工作<br/>发布时间：2019-07-04 17:05<br/>点击量：23">我县规范开展动物疫病集中监测采样工作</a><span>2019-07-04 17:05</span></li>
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2236eb33e00b9000029.html" target="_blank" title="标题：县农机服务中心开展“迎七一，创优‘四最’营商环境”主题党日活动<br/>发布时间：2019-07-04 17:05<br/>点击量：25">县农机服务中心开展“迎七一，创优‘四最’营商环境”主...</a><span>2019-07-04 17:05</span></li>
					</ul>
                    <ul style="display: none;">
					<!-- 
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc8fb6eb33eb818000029.html" target="_blank" title="标题：县机关事务管理服务中心到城关镇五里村开展慰问活动<br/>发布时间：2019-07-04 17:34<br/>点击量：9">县机关事务管理服务中心到城关镇五里村开展慰问活动</a><span>2019-07-04 17:34</span></li>
					
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc5c96eb33e2c9e00002a.html" target="_blank" title="标题：叶集区审计局：帮扶干部解困难，赡养纠纷得化解<br/>发布时间：2019-07-04 17:22<br/>点击量：10">叶集区审计局：帮扶干部解困难，赡养纠纷得化解</a><span>2019-07-04 17:22</span></li>
					
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc4156eb33e1c29000029.html" target="_blank" title="标题：国家税务总局关于修订《纳税服务投诉管理办法》的公告<br/>发布时间：2019-07-04 17:15<br/>点击量：10">国家税务总局关于修订《纳税服务投诉管理办法》的公告</a><span>2019-07-04 17:15</span></li>
					
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc34c6eb33e1441000031.html" target="_blank" title="标题：县民生办督查农业农村局民生工作<br/>发布时间：2019-07-04 17:12<br/>点击量：25">县民生办督查农业农村局民生工作</a><span>2019-07-04 17:12</span></li>
					
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc35b6eb33eb87d00002a.html" target="_blank" title="标题：财政部 税务总局关于继续执行的车辆购置税优惠政策的公告<br/>发布时间：2019-07-04 17:10<br/>点击量：7">财政部 税务总局关于继续执行的车辆购置税优惠政策的公...</a><span>2019-07-04 17:10</span></li>
					
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2956eb33ee4f900002f.html" target="_blank" title="标题：县农机服务中心开展“四最”营商环境大讨论集中学习研讨
<br/>发布时间：2019-07-04 17:09<br/>点击量：24">县农机服务中心开展“四最”营商环境大讨论集中学习研讨...</a><span>2019-07-04 17:09</span></li>
					
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2e26eb33ef034000029.html" target="_blank" title="标题：我县规范开展动物疫病集中监测采样工作<br/>发布时间：2019-07-04 17:05<br/>点击量：23">我县规范开展动物疫病集中监测采样工作</a><span>2019-07-04 17:05</span></li>
					
                        <li><a href="http://www.luan.gov.cn/openness/detail/5d1dc2236eb33e00b9000029.html" target="_blank" title="标题：县农机服务中心开展“迎七一，创优‘四最’营商环境”主题党日活动<br/>发布时间：2019-07-04 17:05<br/>点击量：25">县农机服务中心开展“迎七一，创优‘四最’营商环境”主...</a><span>2019-07-04 17:05</span></li>
					 -->
					</ul>
                </div>
            </div>
        </div>
        <!-- 感兴趣 -->
        <div class="wdzx-box1 fr">
            <div class="wdzx-box1-tit">
                <h6>感兴趣</h6>
            </div>
            <div class="slideTxtBox wdzx-box1-bt no-nr3" id="contentLista3">
                <div class="hd">
                    <ul>
                        <li><a href="javascript:;">资讯中心</a></li>
                        <li><a href="javascript:;">信息公开</a></li>
                        <li><a href="javascript:;">解读回应</a></li>
                    </ul>
                </div>
				<div class="bd">
                    <ul>
					    <img src="../media/images/nomsg.png">
                    </ul>
                    <ul style="display: none;">
					    <img src="../media/images/nomsg.png">
					</ul>
                    <ul style="display: none;">
						<li><a href="http://www.gov.cn/xinwen/2019-04/15/content_5383134.htm" target="_blank" title="标题：保障人民群众依法获取政府信息——政府信息公开条例解读<br/>发布时间：07-04<br/>点击量：0">保障人民群众依法获取政府信息——政府信息...</a><span>07-04</span></li>
						<li><a href="http://www.luan.gov.cn/openness/detail/5d1b17676eb33e44ec00002a.html" target="_blank" title="标题：转发省经信厅关于开展2019年支持机器人产业发展若干政策相关项目申报工作的通知<br/>发布时间：07-02<br/>点击量：21">转发省经信厅关于开展2019年支持机器人...</a><span>07-02</span></li>
						<li><a href="http://www.luan.gov.cn/openness/detail/5d19c7626eb33e9c0700003e.html" target="_blank" title="标题：中国信保捐赠活动在霍邱一中举办 <br/>发布时间：07-01<br/>点击量：34">中国信保捐赠活动在霍邱一中举办 </a><span>07-01</span></li>
						<li><a href="http://www.luan.gov.cn/openness/detail/5d19c6c46eb33ec44f000034.html" target="_blank" title="标题：安徽理工大学优质生源基地授牌仪式在霍邱一中举行<br/>发布时间：07-01<br/>点击量：19">安徽理工大学优质生源基地授牌仪式在霍邱一...</a><span>07-01</span></li>
						<li><a href="http://www.luan.gov.cn/openness/detail/5d13304b6eb33ee477000029.html" target="_blank" title="标题：2017年--2018年末发行的新增地方政府一般债券情况表<br/>发布时间：06-26<br/>点击量：20">2017年--2018年末发行的新增地方...</a><span>06-26</span></li>
						<li><a href="http://www.luan.gov.cn/openness/detail/5d1181566eb33eb019000031.html" target="_blank" title="标题：霍邱县创新驱动专项资金管理办法<br/>发布时间：06-25<br/>点击量：19">霍邱县创新驱动专项资金管理办法</a><span>06-25</span></li>
						<li><a href="http://www.luan.gov.cn/openness/detail/5d116e706eb33e881600002f.html" target="_blank" title="标题：[图文解读]《中华人民共和国政府信息公开条例》亮点解读<br/>发布时间：06-25<br/>点击量：69">[图文解读]《中华人民共和国政府信息公开...</a><span>06-25</span></li>
						<li><a href="http://www.luan.gov.cn/openness/detail/5d1aad226eb33e24fa00002e.html" target="_blank" title="标题：[图文解读]《中华人民共和国政府信息公开条例》亮点解读<br/>发布时间：06-25<br/>点击量：67">[图文解读]《中华人民共和国政府信息公开...</a><span>06-25</span></li>
					</ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部beg-->
<div class="m-zthf" style="right: -55px;">
    <h4>主体换肤</h4>
    <ul>
        <li style="background:#bd1011;" data-id="red" class="change_color"></li>
        <li style="background:green;" data-id="green" class="change_color"></li>
        <li style="background:#015293;" data-id="blue" class="change_color"></li>
    </ul>
</div>
<div class="is-footer">
	<div class="m-footer">
		<div class="m-middle">
			<div class="fl"><p>版权所有：蒙城县人民政府   主办单位：蒙城县人民政府办公室 </p><p>E-mail： mcxzwgk@163.com 备案号：皖ICP备05015246号 网站标识码：3416220001</p>  <p><a class="wgw">皖公网安备34162202000016号</a></p></div>
			<ul class="fl">
				<li class="f1"><a href="">网站地图</a></li>
				<li class="f2"><a href="">隐私申明</a></li>
				<li class="f3"><a href="">使用说明</a></li>
				<li class="f4"><a href="">联系我们</a></li>
			</ul>
			<div>
				<script id="_jiucuo_" sitecode='3416220001' src='http://pucha.kaipuyun.cn/exposure/jiucuo.js'></script>
			<script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/13/198/1564/60621165/CA131981564606211650001.js' type='text/javascript'%3E%3C/script%3E"));</script>
			</div>
			
		</div>
	</div>
 </div>
 <!--底部end-->
</body>
<script type="text/javascript" src="../media/js/jquery.min.js"></script>
<script type="text/javascript" src="../media/js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="../media/js/common.js"></script>
<script>
    jQuery(".slideTxtBox").slide({});
    var l = $("#contentLista li").length;
      if(l<1){
        $('.no-nr').css({"background-image":"url(../media/images/nr-bg.png)"}); 
      }
      var l = $("#contentLista2 li").length;
      if(l<1){
        $('.no-nr2').css({"background-image":"url(../media/images/nr-bg.png)"}); 
      }
      var l = $("#contentLista3 li").length;
      if(l<1){
        $('.no-nr3').css({"background-image":"url(../media/images/nr-bg.png)"}); 
      }
      
</script>
 
</html>